<form class="room-filter" action="/filter" method="POST" aria-label="Filter form to filter meetingrooms" >
    <select name="method" aria-label="Select box. Select an option with the arrow keys">
        <option value=""></option>
        <option value="occupation" aria-label="Select option. Empty rooms first">Occupation</option>
        <option value="temperature" aria-label="Select option. Hottest rooms first">Temperature</option>
    </select>

    <button type="submit" class="button" aria-label="Apply filter button" >Apply Filter</button>
</form>
